SilverlightData/Service References/ServiceReference2/Service112.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26675/Service1.svc?xsd=xsd2" namespace="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryConditions" />
  <xs:import schemaLocation="http://localhost:26675/Service1.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/SilverlightData.Web" />
  <xs:element name="Getstudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryConditions" minOccurs="0" name="querys" nillable="true" type="q1:QueryConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetstudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SilverlightData.Web" minOccurs="0" name="GetstudentResult" nillable="true" type="q2:ArrayOfStudent" />
        <xs:element minOccurs="0" name="recount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentPendings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryConditions" minOccurs="0" name="querys" nillable="true" type="q3:QueryConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentPendingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SilverlightData.Web" minOccurs="0" name="GetStudentPendingsResult" nillable="true" type="q4:ArrayOfStudentPending" />
        <xs:element minOccurs="0" name="recount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRejectStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryConditions" minOccurs="0" name="querys" nillable="true" type="q5:QueryConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRejectStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SilverlightData.Web" minOccurs="0" name="GetRejectStudentResult" nillable="true" type="q6:ArrayOfStudentPending" />
        <xs:element minOccurs="0" name="recount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStudentPending">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SilverlightData.Web" minOccurs="0" name="studentP" nillable="true" type="q7:StudentPending" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStudentPendingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addStudentPendingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStudentPendidngs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SilverlightData.Web" minOccurs="0" name="studentPs" nillable="true" type="q8:ArrayOfStudentPending" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStudentPendidngsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateStudentPendidngsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delStudentPending">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SilverlightData.Web" minOccurs="0" name="studentPs" nillable="true" type="q9:ArrayOfStudentPending" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delStudentPendingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delStudentPendingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Aduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SilverlightData.Web" minOccurs="0" name="studentPs" nillable="true" type="q10:ArrayOfStudentPending" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AduitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnAduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SilverlightData.Web" minOccurs="0" name="studentPs" nillable="true" type="q11:ArrayOfStudentPending" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnAduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnAduitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>