SilverlightData/Service References/ServiceReference2/Service15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryConditions" elementFormDefault="qualified" targetNamespace="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryConditions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26675/Service1.svc?xsd=xsd3" namespace="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QuerySubConditions" />
  <xs:import schemaLocation="http://localhost:26675/Service1.svc?xsd=xsd9" namespace="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryOrderByProperty" />
  <xs:import schemaLocation="http://localhost:26675/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="QueryConditions">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QuerySubConditions" minOccurs="0" name="Conditions" nillable="true" type="q1:QuerySubConditions" />
      <xs:element xmlns:q2="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryOrderByProperty" minOccurs="0" name="OrderBy" nillable="true" type="q2:ArrayOfQueryOrderByProperty" />
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="QueryConditions" nillable="true" type="tns:QueryConditions" />
</xs:schema>