SilverlightData/Service References/ServiceReference2/Service18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryCondition" elementFormDefault="qualified" targetNamespace="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryCondition" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26675/Service1.svc?xsd=xsd5" namespace="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryConditionOperator" />
  <xs:import schemaLocation="http://localhost:26675/Service1.svc?xsd=xsd3" namespace="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QuerySubConditions" />
  <xs:import schemaLocation="http://localhost:26675/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfQueryCondition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryCondition" nillable="true" type="tns:QueryCondition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryCondition" nillable="true" type="tns:ArrayOfQueryCondition" />
  <xs:complexType name="QueryCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Checked" type="xs:boolean" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryConditionOperator" minOccurs="0" name="Operator" type="q1:QueryConditionOperator" />
      <xs:element minOccurs="0" name="Property" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QuerySubConditions" minOccurs="0" name="SubConditions" nillable="true" type="q2:QuerySubConditions" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Value2" nillable="true" type="xs:anyType" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="QueryCondition" nillable="true" type="tns:QueryCondition" />
</xs:schema>