SilverlightData/Service References/ServiceReference2/Service19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryConditionExpression" elementFormDefault="qualified" targetNamespace="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryConditionExpression" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26675/Service1.svc?xsd=xsd7" namespace="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryConditionExpressionType" />
  <xs:import schemaLocation="http://localhost:26675/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="QueryConditionExpression">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expression" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryConditionExpressionType" minOccurs="0" name="Type" type="q1:QueryConditionExpressionType" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="QueryConditionExpression" nillable="true" type="tns:QueryConditionExpression" />
</xs:schema>