SilverlightData/Service References/ServiceReference2/Service110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QuerySubConditions" elementFormDefault="qualified" targetNamespace="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QuerySubConditions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26675/Service1.svc?xsd=xsd4" namespace="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryCondition" />
  <xs:import schemaLocation="http://localhost:26675/Service1.svc?xsd=xsd8" namespace="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.ConditionRelation" />
  <xs:import schemaLocation="http://localhost:26675/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="QuerySubConditions">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.QueryCondition" minOccurs="0" name="List" nillable="true" type="q1:ArrayOfQueryCondition" />
      <xs:element xmlns:q2="http://schemas.ncsi.com.cn/2012/12/NCS.DataAccess.ConditionRelation" minOccurs="0" name="SubConditonsRelation" type="q2:ConditionRelation" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="QuerySubConditions" nillable="true" type="tns:QuerySubConditions" />
</xs:schema>